.heroLeft {
  min-width: 500px;
}

.title {
  line-height: 3.2rem;
}

@media screen and (max-width: 768px) {
  .heroLeft {
    min-width: 100vw;
  }

  .title {
    line-height: 2.8rem;
  }
}

@media screen and (max-width: 1020px) {
  .heroLeft {
    text-align: center;
    min-width: auto;
  }
}
